


body{
	margin: 0px;
	padding: 0px;
}

/*******************
HEADER
********************/
/*top*/
header{
	background-color: #E86828;
	height: 30px;
}

.ship{
	background: #C04000;
	font-size: 16px;
	color: white;
	border-radius: 3px;
}

header:first-child span {
	float: left;
	padding-left: 10px ;
	padding-right: 10px;
}

.discounts li{
	float: left;
	list-style: none;

}

/*2header*/
.header2{
	clear: both;
}

.main-nav ul {
	list-style: none;
	display: inline;
	float: left;
}
